node_modules
.env
.idea/
*.iml

order-service/migrations/*
order-service/config/*
order-service/seeders/*

secrets/*
udacity-c3-deployment/kubconfig/aws-secret.yaml
udacity-c3-deployment/kubconfig/env-configmap.yaml
udacity-c3-deployment/kubconfig/env-secret.yaml
.env
cleanup
/deployment/kubconfig/aws-secret.yaml
/deployment/kubconfig/env-configmap.yaml
/deployment/kubconfig/env-secret.yaml
/item-service/www/controllers/v0/product/routes/product.router.js
/item-service/www/controllers/v0/product/routes/product.router.js.map
/order-service/www/src/controllers/v0/order/models/Order.js
/order-service/www/
